*{
    border: 1px solid black;
}

body{
    background: lightgrey;
}

h1{
    font-family: futura;
    color: blue;
}

a:link {
    text-decoration: none;
}

li{
    display: inline-block;
    width:15%;
    background: white;
}

img{
    width:20%;
}

a:visited{
    color: grey;
}