body{
  	/*background: -webkit-linear-gradient(#a0d6ff, #d8eeff);
  	background:    -moz-linear-gradient(#a0d6ff, #d8eeff);
	background:         linear-gradient(#a0d6ff, #d8eeff);
	background-size: cover;
	background-image: url("../images/background1.jpg");
	background-size: 100% 100%;*/
}

.gallery{
	width: 95%;
	border: 2px solid black;
	margin:0 auto;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-column-gap: 10px;
}

.gallery img{
	width: 100%;
}

.item{
	border: 2px solid black;
}

.myButton {
	-moz-box-shadow: 0px 1px 0px 0px #fff6af;
	-webkit-box-shadow: 0px 1px 0px 0px #fff6af;
	box-shadow: 0px 1px 0px 0px #fff6af;
	background-color:#ffec64;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.myButton:hover {
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}

h1{
	font-family: futura;
	text-align: center;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}

.center{
	display: block;
    margin-left: auto;
    margin-right: auto;
    width=600;
}

li{
	text-decoration: none;
	display:inline;
	color: black;
	font-family: Arial, Helvetica, sans-serif
}

a{
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
	background-color: white;
}


p.advanced-class-1{
	font-family: 'Raleway', sans-serif;
}

p.advanced-class-2{
	font-family: 'Raleway', sans-serif;
	color: blue;
}

p.advanced-class-3{
	font-family: 'Raleway', sans-serif;
	background-color: coral;
}

p.advanced-class-4{
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
}

p.advanced-class-5{
	font-family: 'Raleway', sans-serif;
	background-color: lightgray;
}

p.advanced-class-6{
	font-family: 'Raleway', sans-serif;
	background-color: white;
}

.photo-gallery img{
	width: 200px;
}

@media (orientation: portrait) {
    body {
        background-color: lightyellow;
    }
    li{
    	display: block;
    }
}


@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    body {
        background-color: lightyellow;
    }
    [class*="center"] {
        width: 50vw;
    }
    .photo-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 1px;
	justify-items: center;
	}

	#image-1 {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start:1;
		grid-row-end:2;		
	}

	#image-2 {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start:2;
		grid-row-end:3;
	}

	#image-3 {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start:3;
		grid-row-end:4;		
	}

	#image-4 {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start:4;
		grid-row-end:5;		
	}

	#image-5 {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start:5;
		grid-row-end:6;	
	}

	#image-6 {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start:6;
		grid-row-end:7;	
	}

	#image-7 {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start:7;
		grid-row-end:8;			
	}

	#image-8 {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start:8;
		grid-row-end:9;				
	}

	#image-9 {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start:9;
		grid-row-end:10;				
	}
}

@media screen and (min-width: 768px){
	body{
		background: lightblue;
	}
	[class*="center"] {
        width: 60vw;
    }
    .photo-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 1px;
	justify-items: center;
	}

	#image-1 {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start:1;
		grid-row-end:2;		
	}

	#image-2 {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start:1;
		grid-row-end:2;
	}

	#image-3 {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start:1;
		grid-row-end:2;		
	}

	#image-4 {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start:2;
		grid-row-end:3;		
	}

	#image-5 {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start:2;
		grid-row-end:3;	
	}

	#image-6 {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start:2;
		grid-row-end:3;	
	}

	#image-7 {
		grid-column-start: 1;
		grid-column-end: 2;
		grid-row-start:3;
		grid-row-end:4;			
	}

	#image-8 {
		grid-column-start: 2;
		grid-column-end: 3;
		grid-row-start:3;
		grid-row-end:4;				
	}

	#image-9 {
		grid-column-start: 3;
		grid-column-end: 4;
		grid-row-start:3;
		grid-row-end:4;				
	}
}


