body{
  	/*background: -webkit-linear-gradient(#a0d6ff, #d8eeff);
  	background:    -moz-linear-gradient(#a0d6ff, #d8eeff);
	background:         linear-gradient(#a0d6ff, #d8eeff);
	background-size: cover;*/
	background-image: url("../images/background1.jpg");
	/*background-size: 100% 100%;*/
}

h1{
	font-family: futura;
	text-align: center;
}

body{
	font-family: Arial, Helvetica, sans-serif;
}

.center{
	display: block;
    margin-left: auto;
    margin-right: auto;
}

li{
	text-decoration: none;
	display:inline;
	color: black;
	font-family: Arial, Helvetica, sans-serif
}

a{
	text-decoration: none;
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
}

.photo-gallery {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	grid-template-rows: 1fr 1fr 1fr;
	grid-gap: 1px;
}

#image-1 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start:1;
	grid-row-end:2;		
}

#image-2 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start:1;
	grid-row-end:2;
}

#image-3 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start:1;
	grid-row-end:2;		
}

#image-4 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start:2;
	grid-row-end:3;		
}

#image-5 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start:2;
	grid-row-end:3;	
}

#image-6 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start:2;
	grid-row-end:3;	
}

#image-7 {
	grid-column-start: 1;
	grid-column-end: 2;
	grid-row-start:3;
	grid-row-end:4;			
}

#image-8 {
	grid-column-start: 2;
	grid-column-end: 3;
	grid-row-start:3;
	grid-row-end:4;				
}

#image-9 {
	grid-column-start: 3;
	grid-column-end: 4;
	grid-row-start:3;
	grid-row-end:4;				
}

p.advanced-class-1{
	font-family: 'Raleway', sans-serif;
}

p.advanced-class-2{
	font-family: 'Raleway', sans-serif;
	color: blue;
}

p.advanced-class-3{
	font-family: 'Raleway', sans-serif;
	background-color: coral;
}

p.advanced-class-4{
	font-family: 'Raleway', sans-serif;
	font-weight:bold;
}

p.advanced-class-5{
	font-family: 'Raleway', sans-serif;
	background-color: lightgray;
}

p.advanced-class-6{
	font-family: 'Raleway', sans-serif;
	background-color: white;
}

@media screen and (min-width: 500px){
	body{
		background: lightblue;
	}
	[class*="center"] {
        width: 75vw;
    }
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    [class*="center"] {
        width: 50vw;
    }
}

@media only screen and (orientation: landscape) {
    body {
        background-color: lightyellow;
    }
    [class*="center"] {
        width: 100vw;
    }
}


